body {background: linear-gradient(to left,#062f79,#7676f5,#76a3f5);}
  p {color: #000000}
h1 {font-weight: bold;text-align: center;color: #ffffff}
.links {background: linear-gradient(to right,#062f79, #7676f5,#76a3f5);text-align: center;padding: 60px 20px;color: #000000;font-weight: bold;border-style: solid; border-width: thick;border-color: #00bfad;border-radius: 250px}
a {color: white}
ul{list-style:none;}
nav {display: flex;justify-content: center;padding: 10px;padding-left: 20px;}
nav a {color: white;text-decoration: none;padding: 1px 25px;font-size: 18px;background-color: #7676f5;border-style: solid;border-color: #00bfad;border-radius: 50px;padding-left: 40px;padding-right: 40px;}
href {text-align: center}
ul li {list-style-position: inside; text-align: center;color: darkblue}
img{border-style: solid; border-width: thick;border-color: #00bfad;display: block;width:100%; height: 400px;margin-left: auto; margin-right: auto;border-radius: 50px}
.sources {background: linear-gradient(to right,#062f79, #7676f5,#76a3f5);text-align: center;padding: 60px 20px;color: #000000;font-weight: bold;border-style: solid; border-width: thick;border-color: #00bfad;border-radius: 250px}
