body {background: linear-gradient(to left, #ffff83,#dba400)}
p {color: black;}
h1 {font-weight: bold;text-align: center;color: brown}
h3 {text-align: center;color: brown}
.links {background: linear-gradient(to top, #ffff83,#dba400);text-align: center;padding: 60px 20px;color: #000000;font-weight: bold;border-style: solid; border-width: thick;border-color: #ff9f00;border-radius: 50px}
img{border-style: solid; border-width: thick;border-color: #ff9f00;display: block; width: 50%; height: inherit;margin-left: auto; margin-right: auto}
a {color: brown}
ul{list-style-position: inside;}
nav {display: flex;justify-content: center;padding: 10px 0;}
nav a {color: brown;text-decoration: none;padding: 1px 25px;font-size: 18px;background-color: #c5ad71;border-style: solid;border-color: #ff9f00;border-radius: 50px}
href {text-align: center}
ul li {list-style-position: inside; text-align: center;color: brown}
.page1 {float: left}
.page2 {float: right}
.brochure-container {display: flex; justify-content: center;column-gap: 20px;margin: 20px}
