body {background: linear-gradient(to left,#707070, white);}
p {color: black;}
h1 {font-weight: bold;text-align: center}
h3 {text-align: center;}
.links {background: linear-gradient(to right, #707070,white);text-align: center;padding: 60px 20px;color: #000000;font-weight: bold;border-style: solid; border-width: thick;border-color: #000000;border-radius: 50px}
nav {display: flex;justify-content: center;padding: 10px 0;}
nav a {color: white;text-decoration: none;padding: 1px 25px;font-size: 18px;background-color: #707070;border-style: solid;border-color: #000000;border-radius: 50px}
href {text-align: center}
ul {list-style:none; text-align: center}
img{border-style: solid; border-width: thick;border-color: #000000;display: block;max-width:50%;height:auto;margin-left: auto; margin-right: auto;border-radius: 250px}
